################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WirecutterGH/.vs/WirecutterGH/v15
/WirecutterGH/obj/Debug
